* {
    background-color: blanchedalmond;
    text-align: center;
    font: Georgia, sans-serif;
}

#header {
    margin-bottom: 0px;
}

#authors {
    margin-top: 0px;
    font-style: italic;
}

body {
    font-family: Times, 'Times New Roman', serif, sans-serif;
    
}

p, h5, #scorelogic {
    max-width: 800px;
    margin: 40px auto;
    text-align: left; 
}

#scorelogic ul, li {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}

th {
    background-color: darkslategray;
    color: white;
}

td {
    background-color: #fff8dc;
}

.winner-row td {
    background-color: lightgreen !important;
}

.loser-row td {
    background-color: lightcoral !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#buttons {
    margin-top: 32px;
    margin-bottom: 8px;
    height: 40px;
}

.filter-button {
    background-color: purple;
    color: white;
    border-radius: 12px;
    margin-right: 12px;
    height: 32px;
}

.active {
    background-color: blue;
}

#chartsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
    height: 400px; /* Set a consistent height for the container and images */
}

#chartsContainer img {
    height: 100%;
    width: auto;
    max-width: 49%;
    object-fit: contain;
    /* remove any default vertical alignment */
    display: block;
}